.catalogWrapper {
  margin-top: 84px;
  margin-bottom: 124px;
}

.filterCont {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  gap: 16px;
  margin-bottom: 56px;
}

.searchBtn {
  width: 156px;
  height: 44px;
  align-self: flex-end;
}

.noCarsMess {
  color: #3470ff;
  font-weight: 600;
  font-size: 18px;
  text-align: center;
}

.loadMoreBtn {
  border: 1px solid #3470ff;
  background-color: inherit;
  width: 156px;
  color: currentColor;
  display: block;
  margin: 0 auto;
}

.loadMoreBtn:hover {
  border-color: #0b44cd;
  background-color: inherit;
}
