.carDetails {
  display: flex;
  justify-content: center;
  align-items: stretch;
  gap: 72px;
  margin: 84px 120px;
}

.imgAndFormWrapper,
.carInfoWrapper {
  flex: 1;
}

.imgAndFormWrapper {
  display: flex;
  flex-direction: column;
  gap: 40px;
}

.imgCont {
  max-width: 640px;
}

.img {
  border-radius: 19px;
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.form {
  padding: 32px;
  border: 1px solid #dadde1;
  border-radius: 10px;
  display: flex;
  flex-direction: column;
  gap: 24px;
}

.formTitle {
  font-weight: 600;
  font-size: 20px;
  line-height: 1.2;
  margin-bottom: 8px;
}

.formText {
  color: #8d929a;
}

.formInputs {
  display: flex;
  flex-direction: column;
  gap: 16px;
}

.submitBtn {
  width: 156px;
  align-self: center;
}

.carInfoWrapper {
  flex: 1;
  display: flex;
  flex-direction: column;
  margin-top: 20px;
}
