.carDetails {
  margin: 84px 0 104px;
  display: grid;
  grid-template-areas:
    "image"
    "details"
    "form";
  grid-template-columns: 1fr;
  gap: 40px;
}

.imgCont {
  grid-area: image;
}

.formWrapper {
  grid-area: form;
}

.carInfoWrapper {
  grid-area: details;
}

@media screen and (min-width: 1440px) {
  .carDetails {
    grid-template-columns: 1fr 1fr;
    grid-template-areas:
      "image details"
      "form details";
    column-gap: 72px;
    row-gap: 40px;
  }

  .imgCont {
    height: 512px;
    width: 640px;
  }
}

.img {
  border-radius: 19px;
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.form {
  padding: 32px;
  border: 1px solid #dadde1;
  border-radius: 10px;
  display: flex;
  flex-direction: column;
  gap: 24px;
}

.formTitle {
  font-weight: 600;
  font-size: 20px;
  line-height: 1.2;
  margin-bottom: 8px;
}

.formText {
  color: #8d929a;
}

.formInputs {
  display: flex;
  flex-direction: column;
  gap: 16px;
}

.submitBtn {
  width: 156px;
  align-self: center;
}

.carInfoWrapper {
  flex: 1;
  display: flex;
  flex-direction: column;
  margin-top: 20px;
}
