.mileageCont {
  display: flex;
  flex-direction: column;
  gap: 8px;
}

.span {
  font-weight: 400;
  font-size: 12px;
  line-height: 1.33;
  color: #8d929a;
}

.input:first-child {
  border-right: 1px solid #8d929a;
}

.input {
  border-radius: 12px 0 0 12px;
  max-width: 160px;
  border: none;
  padding: 12px;
  background-color: #f7f7f7;
  outline: none;
}

.input:last-child {
  border-radius: 0 12px 12px 0;
}
