.carsList {
  margin-bottom: 80px;
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  column-gap: 32px;
  row-gap: 48px;
}

.carItem {
  width: 280px;
}

@media screen and (min-width: 768px) {
  .carsList {
    justify-content: flex-start;
  }

  .carItem {
    width: calc((100% - 32px) / 2);
  }
}

@media screen and (min-width: 1440px) {
  .carItem {
    width: calc((100% - 32px * 3) / 4);
  }
}
